<section id="gtco-reservation" class="bg-fixed bg-silver section-padding"
             style="background-position: center !important; background-size: cover; background-repeat: no-repeat;" pic_src="background-01.jpg" pic_bg path="home">
        <div class="container">
            <div class="row justify-content-center m-0">
                <p class="text-big">Nail care for the modern woman</p>
                <p class="text-white text-center padding-booking">We offer hundreds of colors from chic neutrals to
                    bright pastels — there's something for everyone! Stop on by our salon today for the perfect
                    mani-pedi experience.
                </p>
                <a target="_blank"
                   href="#" data-booking
                   class="btn-primary mt-3 booking-big">Book Now<span><i class="fa fa-arrow-right ml-3"></i></span></a>
            </div>
        </div>

    </section>

<footer class="mastfoot bg-silver section-padding bg-coffee">
    <div class="inner container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-2">
                        <img src="#" class="img-fluid footer-logo mb-3" alt="#" pic_src="logo-gold.png" path>
                    </div>
                    <div class="col-md-10">
                        <p class="text-about-footer"><b>{store} in {ward}, {state},</b> will make you feel like a royalty even after the longest and most stressful of days. Our Mani-Pedi and Waxing treatments are perfect for a quick pick-me-up any day of the week. While you rest on our cozy couches, our specialists will pamper your hands and feet with a soak and scrub for moderate hydration and exfoliation.
                            <br><br>
        
                            Nail Salon in {address}
                        </p>
                    </div>
                </div>
                <div class="footer-widget pr-0">
                    
                
                </div>

            </div>
            <div class="col-md-6 mb-3 border-top-footer">
                <div class="footer-widget px-lg-1 px-0">
                    <h4 class="color-silver">Open Hours</h4>
                    <ul class="list-unstyled open-hours">
                        <li class="d-flex justify-content-start text-pink">{time_1}</li>
                        <li class="d-flex justify-content-start text-pink">{time_2}</li>
                        <li class="d-flex justify-content-start text-pink">{time_3}</li>
                                                
                    </ul>
                    <nav class="nav nav-mastfoot justify-content-start">
                        <a class="nav-link nav-link-footer" target="_blank"
                           href="#" data-facebook>
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="nav-link nav-link-footer" target="_blank"
                           href="#" data-instagram>
                            <i class="fab fa-instagram"></i>
                        </a>
    
                        <a class="nav-link nav-link-footer" target="_blank"
                           href="#" data-google>
                            <i class="fab fa-google"></i>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="col-md-6 mb-3 border-top-footer">
                <div class="footer-widget pl-lg-1 pl-0">
                    <h4 class="color-silver">Contact Us</h4>

                    <h5 class="color-silver-2">Address</h5>
                    <p class="text-pink">{address}</p>
                    <h5 class="color-silver-2">Tel</h5>
                    <a href="#" class="text-pink" data-phone><p>{phone}</p></a>
                    <h5 class="color-silver-2">Email</h5>
                    <a href="#" class="text-pink"><p>{email}</p></a>
                </div>
            </div>
            <div class="col-md-12 d-flex align-items-center border-top-footer">
                <p class="mx-auto text-center mb-0 color-silver-2">Copyright 2022. All Rights Reserved. Designed by <a
                        href="https://www.lldtek.com" target="_blank" class="nav-link-footer no-bg">LLDTEK</a></p>
            </div>

        </div>
    </div>
</footer>